* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 35px;
}

ul[data-nb_tab_group_id] {
    list-style: none;
    display: flex;
}
ul[data-nb_tab_group_id] li {
    cursor: pointer;
}
ul[data-nb_tab_group_id] li:not(:last-child) {
    margin-right: 30px;
}
ul[data-nb_tab_group_id] li[aria-selected="true"] {
    border-bottom: 2px solid teal;
}
